body{
font-family:Arial;
text-align:center;
background:#f2f2f2;
margin:0;
}

h1{
background:#8b0000;
color:white;
padding:15px;
margin:0;
}

table{
width:95%;
margin:auto;
margin-top:20px;
background:white;
border-collapse:collapse;
}

td,th{
padding:10px;
border-bottom:1px solid #ddd;
}

button{
padding:10px;
margin:5px;
border:none;
background:#e0e0e0;
border-radius:6px;
}

input{
padding:10px;
width:90%;
margin-top:15px;
}

button:hover{
background:#2f6edb;
color:white;
}
.activo{
background:green;
color:white;
}
